// Mixins
=all-transition($speed)
  -webkit-transition: all $speed ease
  -moz-transition: all $speed ease
  transition: all $speed ease

=box-shadow($top, $left, $blur, $color, $inset: false, $spread: false)
  @if $inset
    @if $spread
      -webkit-box-shadow: inset $top $left $blur $spread $color
      -moz-box-shadow: inset $top $left $blur $spread $color
      box-shadow: inset $top $left $blur $spread $color
    @else
      -webkit-box-shadow: inset $top $left $blur $color
      -moz-box-shadow: inset $top $left $blur $color
      box-shadow: inset $top $left $blur $color
  @else
    @if $spread
      -webkit-box-shadow: $top $left $blur $spread $color
      -moz-box-shadow: $top $left $blur $spread $color
      box-shadow: $top $left $blur $spread $color
    @else
      -webkit-box-shadow: $top $left $blur $color
      -moz-box-shadow: $top $left $blur $color
      box-shadow: $top $left $blur $color

// Main Code
body
  position: absolute
  padding: 0
  margin: 0
  height: 100%
  width: 100%
  background: url('/img/login-background.jpg')
  background-size: cover
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center

.container
  box-shadow: 0 0 100px rgba(0,0,0,.5)
  align-self: center
  background-color: #171735
  padding: 50px 30px
  border-radius: 30px
  text-align: center
  width: 500px
  min-width: 322px

.logo-wrapper
  border-bottom: 1px solid #2e2e6a
  display: block
  margin-left: 10px
  margin-right: 10px
  margin-bottom: 30px
  padding-bottom: 20px

#content
  font-weight: 300
  font-size: 14pt
  font-family: sans-serif
  color: #a6a6d8
  text-align: left
  padding: 0  30px

  a
    +box-shadow(0px,0px,0px,#fff)
    +all-transition(0.25s)
    box-sizing: border-box
    cursor: pointer
    text-decoration: none
    text-align: center
    display: block
    font-family: 'Montserrat', sans-serif
    font-size: 9pt
    font-weight: 500
    padding: 18px
    margin: 0px
    margin-top: 20px
    border-radius: 8px
    letter-spacing: 1pt
    width: 100%
    height: auto
    color: #fff
    background: #f9427f

    &:hover
      background: #ff6b9c
